.categories-container{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
.categories-cards{
    
    gap: 8px;
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    padding: 10px;
    padding-top: 0px;

}
.categories-header{
    width: 100%;
    gap: 10px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#mainContent_ButtonAdd, #mainContent_ButtonRemove {
    height: 35px;
    width: 140px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
}
#mainContent_ButtonAdd{
    background-color: lightgreen;
    
}
#mainContent_ButtonRemove{
    background-color: lightcoral;
}
.cards-container{
   
    border-top: 5px solid darkgrey;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.cards {
    height: 400px;
    width: 300px;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;    
    padding: 10px;
}

.ctg-header{
    margin-left: 0;
    margin-right: 203px;
    font-family: sans-serif;
}
a:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#mainContent_ButtonAdd:hover, #mainContent_ButtonRemove:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition-duration: 500ms;
}
#mainContent_HyperLink1{
    background-image: url("../img/graphic-cards.jpg");
   
}
.link-card-header{
    width: 100%;
    height: 50px; 
    font-size: 40px;
    background-color: darkgrey;
   text-align: center;
}
#TextSearchCategory{
    height: 35px;
    width: 450px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    border: 1px solid darkgrey;
    margin-right: 250px;
}
#mainContent_HyperLink2 {
    background-image: url("../img/gaming-chair.jpg");
}
#mainContent_HyperLink3 {
    background-image: url("../img/iphone.jpg");
}
#mainContent_HyperLink4 {
    background-image: url("../img/motherboard.jpg");
}