.categories-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.categories-cards {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.categories-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.search-box {
    width: 450px;
    height: 35px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid darkgrey;
    margin-right: auto;
}

.btn {
    height: 35px;
    width: 140px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.btn-add {
    background-color: lightgreen;
}

.btn:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.cards-container {
    border-top: 5px solid darkgrey;
    min-height: 70vh;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cards {
    width: 300px;
    height: 400px;
    background-color: #eee;
    display: flex;
    align-items: flex-end;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

    .cards:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    }

.link-card-header {
    width: 100%;
    height: 50px;
    background-color: darkgrey;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}

.btn-delete {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 8px 12px;
    background: lightcoral;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

    .btn-delete:hover {
        background: white;
        color: black;
        transition: 0.3s;
    }
