/*----------------- DEFAULT ASPX CSS -------------------*/
.products-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 20px 30px 20px 180px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 20px;
    
}

.hero-main-info-container {
    width: 80%;
    height: 110px;
    background-color: rgb(232,232,232);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num-of-products, .sum-of-values, .available-products, .not-available-products {
    height: 80%;
    width: 350px;
   
    border-right: 2px solid darkgrey;
}
.not-available-products{
    border-right: none;
}
.num-of-products, .sum-of-values, .available-products, .not-available-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.num-of-products-header, .sum-of-values-header{
    font-size: 25px;
    color: darkgray;
    font-weight: bold;
    font-family: sans-serif;
}
.num-of-products-num, .sum-of-values-num {
    color: rgb(77,77,77);
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}
.decimal-pointer-after{
    color: darkgray;
}
.available-products-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 30px;
    width: 100px;
    font-size: 15px;
    border-radius: 50px;
    background-color: #A0D59C;
    color: #2B8B2C;
    font-weight: bold;
}
.available-products-num {
    font-size: 25px;
    font-weight: bold;
    color: rgb(77,77,77);
}
.not-available-products-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 30px;
    width: 120px;
    font-size: 15px;
    border-radius: 50px;
    background-color: #D87970;
    color: #CA211D;
    font-weight: bold;
}
.products {
    height: 100%;
    width: 80%;
    background-color: rgb(232,232,232);
    border-radius: 20px;
    max-width: 80%;
}
.products-header{
    width: 100%;
    height: 70px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    margin: 0px;

}
.products-name-container, .products-categories-container, .products-status-container, .products-quantity-container, .products-price-container {
    height: 100%;
    display: flex;
    width: 20%;
    border-right: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
}
.products-price-container {
    border-right: none;
    border-bottom: 2px solid darkgrey;
}
    #mainContent_CheckBoxProductName {
        display: flex;
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
.products-name {
    font-size: 22px;
    font-weight: bold;
    color: rgb(77,77,77);
}
.products-content {
    overflow-y: auto;
    overflow: auto;
    overflow-y: scroll;
    max-width: 100%;
    max-height: 600px;
    height: 600px;
}
.product-item{
    margin-top: 10px;
    display: flex;
    height: 50px;
    width: 100%;
    padding-left: 0px;
    font-size: 20px;
   
}
.product-item-price, .product-item-quantity, .product-item-name, .product-item-status, .product-item-category {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    padding-left: 15px;
    font-weight: bold;
    color: black;
}
.product-item-name{
    gap: 10px;
}
.product-item-price{
    border-right: none;
}
.product-item-status .available {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 30px;
    width: 100px;
    font-size: 15px;
    border-radius: 50px;
    background-color: #A0D59C;
    color: #2B8B2C;
    font-weight: bold;
}
.product-item-status .not-available {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 30px;
    width: 120px;
    font-size: 15px;
    border-radius: 50px;
    background-color: #D87970;
    color: #CA211D;
    font-weight: bold;
}
