*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link {
    text-decoration: none;
 
}
a {
    text-decoration: none;
    color: black;
}


body {
    height: 1000px;
    width: 1000px;
    background-color: rgb(192,192,192);
    display: flex;
    flex-direction: row;
    gap: 0px;
}
.container{
   height: 1000px;
   width: 100vw;
   background-color: white;
   display: flex;
   flex-direction: row;
   gap: 0px;
}
.side-container {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    background-color: rgb(232,232,232);
    gap: 50px;
}
.side-logo-container{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.side-logo-container img{
    height: 50px;
    width: 50px;
}
.logo-name{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
}
.side-items{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.item{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    font-family: sans-serif;
    gap: 4px;
    
}
.item img{
    height: 30px;
    width: 30px;
}
    .item:hover {
        background-color: rgb(222,222,222);
        transition-duration: 200ms;
    }
.side-items a{
    font-size: 22px;
}

.hero-container{
   width: 100%;
   display: flex;
   flex-direction: column;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(232,232,232);
    gap: 20px;
}
#TextBoxSearch {
    height: 35px;
    width: 700px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: white;
    font-family: sans-serif;
    font-size: 15px;
}
#ButtonSearch{
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 30px; 
    font-size: 15px;
    font-family: sans-serif;
}
    #ButtonSearch:hover {
        background-color: rgb(222,222,222);
        transition-duration: 300ms;
       
        cursor: pointer;
    }
.hero{
    height: 850px;
    width: 100%;
    border-radius: 20px 0px 0px 0px;
}

