*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link {
    text-decoration: none;
}

body {
    height: 500px;
    width: 1000px;
    background-color: rgb(192,192,192);
    display: flex;
    flex-direction: row;
    gap: 0px;
}
.container{
   height: 950px;
   width: 100vw;
   background-color: white;
   display: flex;
   flex-direction: row;
   gap: 0px;
}
.side-container {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    border: 1px solid black;
    background-color: rgb(232,232,232);
    gap: 50px;
}
.side-logo-container{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.side-logo-container img{
    height: 50px;
    width: 50px;
}
.logo-name{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
}
.hero-container{
   width: 100%;
   border: 1px solid black;
   display: flex;
   flex-direction: column;
}
.hero-container  div{
    border: 1px solid black;
}
.header-container{
    width: 100%;
    height: 100px;
}
.hero{
    height: 850px;
    width: 100%;
}
